# DOCKER
DB_ENTRYPOINT_INITDB="./deployments/docker/postgres"
DB_PORT_EXPOSE=5444

# APP
APP_NAME=""
APP_ENV="development" # development, production, testing
APP_KEY=""
APP_DEBUG=""
APP_URL=""
APP_PORT_HTTP=
APP_PORT_GRPC=

# LOG
LOG_CHANNEL="debug"
LOG_DEPRECATIONS_CHANNEL="null"
LOG_LEVEL=1
LOG_AGE=1 # Days
LOG_MAX_SIZE=100 # Megabytes

# DB CONFIG
DB_HOST=""
DB_PORT=
DB_NAME=""
DB_USERNAME=""
DB_PASSWORD=""
DB_SSL_MODE="disable"
DB_CONN_TIMEOUT=30
DB_MAX_OPEN_CONS=20
DB_MAX_IDLE_CONS=20
DB_CONN_MAX_LIFETIME=0
DB_VERSION=14.6

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# JWT
JWT_SECRET=""
JWT_ALGO="HS256"
